core:
  start_block_num: 21709284 # the latest I know block number
  worker_num: 0 # default worker number is runtime.NumCPU()
  queue_num: 0 # default queue number is 8192
log:
  format: "string" # string or json
  access_log: "/var/eth_block_indexer_log" # stdout: output to console,or define log path like "log/access_log"
  access_level: "trace"
  error_log: "/var/eth_block_error_log" # stderr: output to console,or define log path like "log/error_log"
  error_level: "trace"